body {
    background-image: url('../image/2.jpg');
}

#main {
    background-color: white;
    height: 100%;
    padding-left: 240px;
    padding-right: 0px;
    color: black;
}

#listecarte {
    border: 1px solid black;
    height: 80%;
    width: 100%;
}

.myinputspan {
    width: 100%;
    padding: 20px;
}

.myButton {
    height: 30px;
    margin-left: 5px;
}

.myview {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

#prixdessert {
    border-bottom: 1px solid black;
}

#nomcarte {
    border-bottom: 1px solid black;
}

.mypview {
    font-weight: bold;
} 

.maincarte {
    overflow: scroll;
    padding: 5px;
}